.words {
  color: brown;
  background-color: magenta;
}

#words {
  color: white;
  background-color: blue;
}

h4 {
  color: green;
  background-color: yellow;
}

/************************************************/

.title {
  background-color: rgb(10, 10, 217);
  color: white;
  text-align: center;
}

.form {
  background-color: lightgray;
  padding: 0px 20px;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  margin: auto;
}

.submit {
  background-color: rgb(109, 109, 219);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.width-full {
  width: 100%;
}
