/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.box1 {
  background-color: hsla(240, 100%, 50%, 0.432);
  color: white;
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.box2 {
  background-color: hsla(0, 75%, 51%, 0.623);
  color: white;
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.box3 {
  background-color: hsla(66, 94%, 52%, 0.432);
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.box4 {
  background-color: purple;
  color: white;
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
} */

/******************************************/

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

.left {
  background-color: green;
  width: 100%;
  height: 90vh;
}

.middle {
  /* background-color: rgb(64, 255, 64); */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 90vh;
}

.middle .top {
  background-color: rgb(14, 185, 14);
  width: 100%;
}

.middle .mid {
  /* background-color: rgb(20, 72, 240); */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.middle .mid .box-1 {
  background-color: lightcoral;
  width: 100%;
}

.middle .mid .box-2 {
  background-color: hsl(0, 100%, 50%);
  width: 100%;
}

.middle .bottom {
  /* background-color: rgb(185, 14, 14); */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.middle .bottom .box-1 {
  background-color: lightcoral;
  width: 100%;
}

.middle .bottom .box-2 {
  background-color: hsl(0, 100%, 50%);
  width: 100%;
}

.right {
  /* background-color: rgb(72, 92, 72); */
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  height: 90vh;
  gap: 10px;
}

.right .box-1 {
  background-color: rgb(255, 0, 0);
  width: 100%;
}

.right .box-2 {
  background-color: rgb(30, 26, 255);
  width: 100%;
}
